/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

body {
    font-size: 33px;
    font-family: serif;
		background-color: #444444;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: repeat-y;
}

#cont{
	font-size: 33px;
	background-color: #444444;
	font-family: serif;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: repeat-y;
}



#para1{
    font-size: 25px;
    color: #ffffff;
		margin-bottom: 10px;
    text-align: center;
}

#in1{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    color: #000000;
    background-color: #999999;
    margin-top: 20px;
    border: 0px;
    margin: 0 auto;
    display: block;
    text-align: center;
    border-radius: 20px;
}

form {
	background: #000;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;

	input { border: 0; padding: 12px; width: 90%; margin-right: 0.5%; background-color: #999999; font-size: 20px; float: left; }

	button { width: 9%; border-radius: 10px; background: #6fccf7; color: #ffffff; font-weight: 300; font-size: 20px; font-family: serif; border: none; padding: 12px; float: right;}
}

#mainHead{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
		margin-bottom: 10px;
    font-family: serif;
}

#popmsg{
	background-color: #999999;
	color: #000000;
	text-align: center;
	border-radius: 10px;
	font-size: 15px;
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}
