<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div id="cont">
    <h1 id="mainHead">Welcome To chatapp World</h1>
    <p id="para1">Talk to the friends</p>
		<p id="popmsg"></p>
	<input id="in1" type="text" class="nickname" placeholder="What is your nickname?">
	<ul id="messages"></ul>
	<form>
		<input class="message" type="text" id="m" autocomplete="off">
		<button>SEND IT</button>
	</form>
    </div>

</body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</html>
